#refresh {
  text-decoration: none;
}

.table-striped > tbody > tr.even {
  background-color: rgba(0,0,0,.05);
}
.table-striped > tbody > tr.odd {
  background-color: rgb(255,255,255);
}
tr.table-danger i.fa-info-circle {
  color:#e91e6
}